<h2 mat-dialog-title>Create Patient</h2>
<form [formGroup]="createForm" (ngSubmit)="createUser()">
    <div mat-dialog-content>
        <div class="form-group">
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Enter your name" formControlName="name"
                       autofocus required>
                <mat-error *ngIf="submitted && f.name.hasError('required')">Name is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <button type="submit" mat-button  class="full-width btn-success">Create Patient</button>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>

    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()" class="full-width">Cancel</button>
    </div>
</form>
